asgiref==3.8.1
beautifulsoup4==4.13.4
Django==4.1.1
django-bootstrap-v5==1.0.11
django-bootstrap5==25.1
git-filter-repo==2.47.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
whitenoise==6.9.0
