body {
    background-image: url('static ../images/plaja1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}
/* Navbar fix */
.navbar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    background-color: #0ef8dd;
    color: rgb(7, 2, 13);
    padding: 15px 20px;
    z-index: 10000; /* Mai mare */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Stiluri link-uri navbar */
.navbar a {
    color: rgb(232, 207, 16);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: #007bff;
    text-shadow: 1px 1px 2px black, 0 0 25px hsl(5, 100%, 50%), 0 0 5px darkblue;
}
.navbar a:hover {
    text-decoration: none;
}
.nav-link {
    margin-right: 15px;
    color: blue;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: none;
}
.nav-user {
    margin-right: 15px;
    color: #333;
}
.navbar a.active {
    background-color: #400ba2; /* Culoare de fundal pentru butonul activ */
    color: rgb(75, 233, 17); /* Culoare text pentru butonul activ */
    font-weight: bold;
}
.content {
    margin: 22px;
}

/* Ajustare conținut principal */
main {
    margin-top: 70px; /* Înălțimea navbar-ului + spațiu extra */
    padding: 20px;
}

#clock {
    padding: 10px 15px;
    color: #333;
    font-family: monospace; /* Pentru un aspect de ceas digital */
    font-size: 16px;
    font-weight: bold;
    background-color: #e7ee18;
    border-radius: 8px;
}
.footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #0b66ac;
    border-top: 1px solid #100404;
    text-align: center;
    margin-bottom: 0;
}
.footer p {
    margin: 5px 0;
    color: white;
}
.modal-content {
    border-radius: 10px;
}
  
.modal-header {
    background-color: #f8f9fa;
}
  
.btn-primary {
    background-color: #007bff; /* Ajustează culoarea dacă ai un brand specific */
}
  
.btn-primary:hover {
    background-color: #0056b3;
}
  
.footer a {
    color: #a8ec18; /* Stilizează link-ul Contact din footer */
    text-decoration: none;
}
  
.footer a:hover {
    text-decoration: underline;
  
}

/* În trips/static/css/base.css */
form {
    margin-top: 15px;
}
form p {
    margin-bottom: 10px;
}
form input {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
}
form button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #0056b3;
}
.success {
    color: green;
}
.error {
    color: red;
}

.alert-success {
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    max-width: 600px; /* Limitează lățimea */
    text-align: center;
    animation: fadeIn 0.5s ease-in;
}
/* adaugare tranzitie */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}