{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Felix Travel Agency - Book your dream vacation today!">
    <meta name="keywords" content="travel, vacation, trips, Felix Travel Agency">
    <title>{% block title %}Felix Travel Agency{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="{% url 'search_trips' %}" class="{% if request.path == '/search/' %}active{% endif %}">Search</a>
        <a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a>
            <span id="clock" aria-live="off"></span>
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}!</span>
            <a href="{% url 'logout' %}" class="{% if request.path == '/logout/' %}active{% endif %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="{% if request.path == '/login/' %}active{% endif %}">Login</a>
            <a href="{% url 'register' %}" class="{% if request.path == '/register/' %}active{% endif %}">Register</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
<!-- Footer -->
    <footer class="footer">
        <p>© 2025 Felix Travel Agency. Toate drepturile rezervate.</p>
        <p>Contact: contact@travelagency.com</p>
    </footer>

<script defer src="{% static 'js/activareclick.js' %}"></script>
<script defer src="{% static 'js/ceas.js' %}"></script>
</body>
</html>

 